@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap");
.container {
  width: 1170px;
  margin: 0 auto; }

html, body {
  height: 100%; }

.header {
  background: url("../img/header_bg.png") 57% 100% no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 800px;
  padding-top: 35px;
  padding-bottom: 19px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  .header__menu {
    display: flex;
    width: 520px;
    justify-content: space-between;
    padding: 0; }
  .header__logo {
    align-self: center;
    margin-top: 14px; }
  .header__link {
    padding-top: 14px;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 1.44px;
    outline: 3px solid transparent;
    transition: color 0.3s; }
    .header__link:hover {
      color: black;
      cursor: pointer;
      border-bottom: 3px solid black; }
    .header__link:last-child:hover {
      border: none;
      opacity: .6; }
    .header__link a {
      text-decoration: none;
      color: #8c8c8c;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      letter-spacing: 1.44px; }
  .header__nav {
    width: 590px; }
    .header__nav-mobile {
      display: none;
      position: relative;
      justify-content: flex-end;
      align-items: center;
      padding: 10px;
      box-sizing: border-box; }
  .header__wrapper {
    display: flex;
    justify-content: space-between; }
  .header__tag {
    margin-top: 264px;
    color: #43a047;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.29px; }
  .header__name {
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 62px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 3px;
    letter-spacing: -3px;
    word-spacing: -2px; }
  .header__details {
    margin-top: 15px;
    margin-bottom: 40px;
    max-width: 475px;
    color: #6c6c6c;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.3px;
    word-spacing: -1.2px; }
  .header__container {
    flex: 1 0 auto; }

.burger-icon {
  cursor: pointer; }
  .burger-icon svg {
    width: 30px;
    height: 30px; }
.burger-button {
  display: none; }
  .burger-button:checked ~ .burger__nav-wrapper {
    opacity: 1;
    pointer-events: auto; }
.burger__nav-wrapper {
  position: absolute;
  height: 100vh;
  width: 300px;
  right: -2.46vw;
  top: -34px;
  opacity: 0;
  pointer-events: none;
  background-color: #ebeaea;
  transition: opacity .5s;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
.burger__nav-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px; }
  .burger__nav-close svg {
    width: 30px;
    height: 30px; }

.featured {
  padding: 112px 0 120px 0; }
  .featured__wrapper {
    display: flex;
    justify-content: space-between; }
  .featured__tab {
    max-width: 80px;
    color: #6c6c6c;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s;
    padding-bottom: 10px; }
    .featured__tab:hover {
      color: gray; }
    .featured__tab:nth-child(1) {
      padding-left: 4px; }
    .featured__tab:nth-child(2) {
      padding-left: 17px; }
  .featured__divider {
    max-width: 300px;
    height: 1px;
    background-color: #6c6c6c;
    margin-top: 12px; }
  .featured__item {
    position: relative; }
    .featured__item > img {
      display: block;
      width: 100%;
      min-height: 100%; }
  .featured__items {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 270px));
    grid-template-rows: 270px;
    grid-gap: 30px;
    justify-content: center; }
  .featured__overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 62px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
    width: 100%;
    height: 100%;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s; }
    .featured__overlay:hover {
      opacity: 0.9; }
  .featured__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff;
    opacity: 0.7; }
    .featured__arrow-img {
      width: 12px;
      height: 20px; }
    .featured__arrow:hover {
      opacity: 1; }
  .featured__name {
    margin-top: 14px;
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
    letter-spacing: -0.6px; }
  .featured__details {
    color: #6c6c6c;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.61px;
    text-align: center;
    margin-top: 9px; }

.promo__container {
  width: 50%; }
.promo__wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%; }
.promo__item:nth-child(1) {
  background: url("../img/exclusive-1.png") -7px 0 no-repeat;
  background-size: cover;
  flex-grow: 1;
  min-height: 683px;
  max-width: 50%;
  padding-left: 42px; }
.promo__item:nth-child(2) {
  background: url("../img/exclusive-2.png") 2px 1px no-repeat;
  background-size: cover;
  min-height: 683px;
  max-width: 50%;
  flex-grow: 1;
  padding-left: 51px; }
.promo__item {
  padding: 225px 0 0 55px;
  box-sizing: border-box; }
.promo__tag {
  color: #1e88e5;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px; }
.promo__name {
  margin-top: 8px;
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px; }
.promo__details {
  margin-top: 9px;
  margin-bottom: 43px;
  max-width: 390px;
  color: #6c6c6c;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.04px;
  word-spacing: -1.2px; }

.trend-prod {
  padding: 110px 0 121px 0; }
  .trend-prod__wrapper {
    display: flex;
    justify-content: space-between; }
  .trend-prod__title {
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.3px;
    padding-top: 3px; }
  .trend-prod__items {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 370px));
    grid-template-rows: repeat(2, minmax(320px, 370px));
    gap: 30px; }
  .trend-prod__item {
    transition: box-shadow 0.3s; }
    .trend-prod__item:hover {
      box-shadow: 0 0 8px lightgray; }
  .trend-prod__item img {
    max-width: 370px;
    min-height: 370px;
    object-fit: cover; }

.hot-deal {
  background: url("../img/hot-deal_bg.png") 69% 0 no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 800px;
  box-sizing: border-box;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column; }
  .hot-deal__container {
    flex: 1 0 auto; }
  .hot-deal__tag {
    color: #e53935;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.13px;
    margin-top: 283px; }
  .hot-deal__name {
    margin-top: 5px;
    color: #212121;
    font-family: "Montserrat",sans-serif;
    font-size: 62px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -4px;
    word-spacing: 8px; }
  .hot-deal__details {
    margin-top: 12px;
    margin-bottom: 41px;
    max-width: 480px;
    color: #6c6c6c;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    word-spacing: -1.2px; }

.exclusive {
  padding: 119px 0; }
  .exclusive__wrapper {
    display: grid;
    grid-template-columns: minmax(400px, 570px) repeat(2, minmax(200px, 270px));
    grid-template-rows: repeat(2, minmax(180px, 270px));
    grid-gap: 30px; }
  .exclusive__item {
    transition: box-shadow 0.3s;
    display: block; }
    .exclusive__item:hover {
      box-shadow: 0 0 8px lightgray; }
    .exclusive__item img {
      width: 100%;
      height: 100%; }
  .exclusive__item:nth-child(1) {
    background: url("../img/ex_pillow.png") no-repeat;
    background-size: cover;
    grid-row: 1 / 3;
    padding: 183px 30px 20px 30px; }
    .exclusive__item:nth-child(1):hover {
      box-shadow: initial; }
  .exclusive__tag {
    color: #1e88e5;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.26px;
    margin-bottom: 8px; }
  .exclusive__name {
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: -1px; }
  .exclusive__details {
    max-width: 345px;
    color: #6c6c6c;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.04px;
    margin-bottom: 41px;
    word-spacing: -1.2px; }

.mobile-app {
  padding: 122px 0 117px 0;
  background: url("../img/mobile_bg.png") 46% 100% no-repeat;
  background-size: cover; }
  .mobile-app__tag {
    color: #6c6c6c;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.26px;
    margin-bottom: 2px; }
  .mobile-app__name {
    max-width: 490px;
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 62px;
    font-weight: 300;
    line-height: 72px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: -4.8px; }
  .mobile-app__details {
    color: #6c6c6c;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 33px;
    word-spacing: 3px;
    letter-spacing: -1px; }
  .mobile-app__btn {
    display: inline-block;
    padding: 0;
    border: none;
    cursor: pointer;
    margin-left: 2px; }
    .mobile-app__btn img {
      display: block;
      width: 100%;
      height: 100%; }

.footer {
  padding: 117px 0 30px 0;
  background-color: #f7f7f7; }
  .footer__info-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 62px;
    padding-bottom: 60px; }
  .footer__contact {
    display: flex;
    flex-direction: column; }
  .footer__tag {
    color: #6c6c6c;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.25px; }
  .footer__text {
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    max-width: 240px;
    word-spacing: -1.3px; }
    .footer__text-wrapper {
      margin-top: 7px; }
  .footer .footer__text {
    margin-top: 14px; }
  .footer__tel a {
    text-decoration: none;
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400; }
    .footer__tel a:hover {
      text-decoration: underline; }
  .footer__mail {
    display: inline-block;
    text-decoration: none;
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
    letter-spacing: -0.4px; }
    .footer__mail:hover {
      text-decoration: underline; }
  .footer__info {
    padding-left: 11px;
    display: grid;
    grid-template-columns: 140px 196px;
    grid-template-rows: 20px repeat(3, 10px);
    grid-gap: 17px 95px; }
    .footer__info .footer__tag {
      grid-column: 1 / 3; }
  .footer__link {
    color: #212121;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-decoration: none; }
    .footer__link:hover {
      text-decoration: underline; }
  .footer__form {
    display: flex;
    flex-direction: column;
    padding-left: 9px; }
    .footer__form .footer__text {
      word-spacing: -3.1px; }
  .footer__copy {
    color: #6c6c6c;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.34px; }
  .footer__social {
    width: 136px; }
    .footer__social svg {
      width: 28px;
      height: 28px;
      opacity: 0.7; }
      .footer__social svg:hover {
        opacity: 1; }
  .footer__privacy {
    text-decoration: none;
    color: #6c6c6c;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.36px; }
    .footer__privacy:hover {
      text-decoration: underline; }
    .footer__privacy-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; }

.form {
  max-width: 370px;
  height: 48px;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #000;
  margin-top: 21px; }
  .form__text {
    max-width: 388px; }
  .form__input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 19px 69px 19px 19px;
    border: none;
    outline: none;
    color: #6c6c6c;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 400; }
    .form__input:focus {
      border: none;
      outline: none; }
    .form__input::placeholder {
      color: #6c6c6c;
      font-family: "Montserrat",sans-serif;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.33px; }
  .form__btn {
    position: absolute;
    height: 100%;
    width: 50px;
    right: 0;
    background-color: #fff;
    cursor: pointer;
    border: none;
    outline: none; }

.active {
  color: #212121;
  font-weight: 700;
  border-bottom: 3px solid black;
  letter-spacing: 0.56px; }
  .active a {
    color: #212121;
    font-weight: 700;
    letter-spacing: 0.56px; }

.dots {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  gap: 9px; }

.dot {
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0.2;
  transition: opacity 0.3s;
  padding-left: 5px; }
  .dot:hover {
    cursor: pointer;
    opacity: 0.3; }

.dot-active {
  transform: scale(1.3);
  opacity: 1; }
  .dot-active:hover {
    opacity: 1; }

.btn {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  letter-spacing: 2.85px;
  background-color: #ffffff;
  padding: 11px 58px 11px 31px;
  position: relative;
  opacity: 0.7;
  transition: opacity 0.3s; }
  .btn::after {
    content: "";
    position: absolute;
    background: url("../img/icons/arrow_sml.svg") no-repeat;
    top: 16px;
    right: 30px;
    width: 9px;
    height: 12px; }
  .btn:hover {
    opacity: 1; }

.active-tab {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 3px solid black; }
  .active-tab:hover {
    color: #212121; }

.link {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  padding-right: 16px;
  opacity: 0.7;
  position: relative;
  margin-top: 21px; }
  .link::after {
    content: "";
    position: absolute;
    background: url("../img/icons/arrow_sml.svg") no-repeat;
    top: 6px;
    right: 0;
    width: 9px;
    height: 12px; }
  .link:hover {
    opacity: 1; }

@media (max-width: 1399px) {
  .promo__container {
    width: 100%; } }
@media (max-width: 1199px) {
  .container {
    width: 95%; }

  .featured__items {
    grid-template-columns: repeat(2, minmax(240px, 270px));
    grid-template-rows: repeat(2, minmax(max-content, 270px));
    justify-content: center; }

  .promo__item:nth-child(1) {
    background-position-x: 100%; }
  .promo__item:nth-child(2) {
    background-position-x: 100%; }
  .promo__details {
    color: #999999;
    font-weight: bold; }

  .trend-prod__items {
    grid-template-columns: repeat(auto-fill, 370px);
    grid-template-rows: repeat(auto-fill, 370px);
    justify-content: center; }

  .exclusive__item:nth-child(1) {
    background-position-x: 100%; }
  .exclusive__details {
    color: #c0b3b3; } }
@media (max-width: 991px) {
  .header__menu {
    width: 495px; }
  .header__nav {
    margin-right: 0;
    margin-left: 10px;
    gap: 0; }
  .header__link {
    padding-left: 0;
    margin-right: 14px; }

  .exclusive__wrapper {
    grid-template-columns: repeat(2, minmax(200px, 270px));
    grid-template-rows: repeat(2, minmax(180px, 270px));
    justify-content: center; }
  .exclusive__item:nth-child(1) {
    grid-column: 1 / 3; }
  .exclusive__details {
    color: #6c6c6c; }

  .mobile-app {
    background-position-x: 48%; }

  .footer__info {
    grid-template-columns: 160px;
    grid-template-rows: repeat(auto-fit, 20px);
    text-align: center;
    row-gap: 4px; }
  .footer .footer__tag {
    grid-column: initial;
    grid-row: 1 / 3; }
  .footer .footer__text {
    word-spacing: 0; }
  .footer__link {
    font-size: 12px; }
  .footer__social {
    padding-right: 20px; }
  .footer__copy {
    font-size: 11px; }
  .footer__privacy {
    font-size: 11px; } }
@media (max-width: 767px) {
  .header__logo {
    align-self: flex-start;
    margin-left: 14px; }
  .header__nav {
    margin-right: 0;
    margin-left: 12px; }
    .header__nav-mobile {
      display: block; }
  .header__menu {
    width: initial;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px; }
  .header__search {
    align-self: center; }
  .header__link {
    outline: initial;
    border: 3px solid transparent; }

  .promo__item {
    padding-left: 10px;
    padding-right: 0; }
    .promo__item:nth-child(1) {
      padding-left: 10px; }

  .mobile-app {
    background-position-x: 56%; }
    .mobile-app__details {
      color: #a79f9f; }

  .footer__info-wrapper {
    flex-wrap: wrap; }
  .footer__social {
    width: 230px;
    padding-right: 0; }

  .desktop {
    display: none; } }
@media (max-width: 575px) {
  .header {
    background-position-x: 70%;
    min-height: 100vh; }
    .header__wrapper {
      justify-content: space-between;
      align-items: center; }
    .header__logo {
      align-self: initial; }
    .header__tag {
      margin-top: 140px; }
    .header__name {
      font-size: 42px; }
    .header__details {
      color: #312c2c; }
    .header__nav-mobile {
      padding: 14px 0 0 0; }

  .burger__nav-wrapper {
    width: 250px; }

  .featured {
    padding: 40px 0; }
    .featured__wrapper {
      flex-direction: column; }
    .featured__items {
      grid-template-columns: 270px;
      grid-template-rows: 270px;
      margin-top: 20px; }

  .link::after {
    left: 175px; }

  .promo__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px; }
  .promo__item {
    padding-top: 125px; }
    .promo__item:nth-child(1) {
      min-height: 460px;
      max-width: initial; }
    .promo__item:nth-child(2) {
      min-height: 460px;
      max-width: initial; }

  .trend-prod {
    padding: 40px 0; }
    .trend-prod__wrapper {
      flex-direction: column; }
    .trend-prod__items {
      margin-top: 26px;
      grid-template-columns: minmax(280px, 370px);
      grid-template-rows: minmax(280px, 370px); }
    .trend-prod__item img {
      width: 100%;
      height: 100%; }

  .hot-deal {
    background-position-x: 56%;
    min-height: 510px; }
    .hot-deal__tag {
      margin-top: 100px; }
    .hot-deal__name {
      margin-top: 26px;
      font-size: 42px; }

  .exclusive {
    padding: 40px 0; }
    .exclusive__wrapper {
      grid-template-columns: minmax(200px, 280px);
      grid-template-rows: minmax(180px, 280px);
      justify-content: center; }
    .exclusive__item:nth-child(1) {
      grid-column: 1;
      padding-top: 80px;
      padding-bottom: 0; }
    .exclusive__name {
      font-size: 32px; }
    .exclusive__details {
      color: #c0b3b3; }

  .mobile-app {
    padding: 40px 0; }
    .mobile-app__name {
      font-size: 42px; }

  .footer {
    padding: 40px 0; }
    .footer__info-wrapper {
      justify-content: center; }
    .footer__social {
      order: 3;
      align-self: center;
      width: initial; }
    .footer__contact {
      text-align: center; }
    .footer__form {
      text-align: center; }
    .footer__privacy-wrapper {
      flex-direction: column;
      gap: 20px; } }

/*# sourceMappingURL=styles.css.map */
