@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');


.container {
  width: 1170px;
  margin: 0 auto;
}
html, body {
  height: 100%;
}

.header {
  background: url("../img/header_bg.png") 100% 0 no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 800px;
  padding-top: 35px;
  padding-bottom: 19px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__menu {
    display: flex;
    gap: 21px;
  }
  &__logo {
    align-self: center;
  }
  &__link {
    text-transform: uppercase;
    list-style-type: none;
    color: #8c8c8c;
    font-size: 14px;
    line-height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 1.4px;
    transition: color 0.3s;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
  &__nav {
    display: flex;
    gap: 21px;
  }
  &__search {
    align-self: center;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__tag {
    margin-top: 256px;
    color: #43a047;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
  }
  &__name {
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 62px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 22px;
    letter-spacing: -4px;
  }
  &__details {
    margin-top: 34px;
    margin-bottom: 45px;
    width: 475px;
    color: #6c6c6c;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  &__container {
    flex: 1 0 auto;
  }

}
.active {
  color: #212121;
  font-weight: 700;
  border-bottom: 2px solid black;
}
.dots {
  display: flex;
  gap: 5px;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
}
.dot {
  background-color: black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  opacity: 0.2;
  transition: opacity 0.3s;
  &:hover {
    cursor: pointer;
    opacity: 0.3;
  }
}
.dot-active {
  width: 40px;
  height: 40px;
  opacity: 1;
  &:hover {
    opacity: 1;
  }
}

.btn {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  letter-spacing: 3.6px;
  background-color: #ffffff;
  padding: 11px 61px 11px 31px;
  position: relative;
  opacity: 0.7;
  transition: opacity 0.3s;
  &::after {
    content: "";
    position: absolute;
    background: url("../img/icons/arrow_sml.svg") no-repeat;
    top: 16px;
    right: 28px;
    width: 9px;
    height: 12px;
  }
  &:hover {
    opacity: 1;
  }
}
.featured {
  padding: 120px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__tab {
    width: 80px;
    height: 25px;
    color: #6c6c6c;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: #6c6c6c + 20;
    }
    &:nth-child(1) {
      padding-left: 9px;
    }
    &:nth-child(2) {
      padding-left: 21px;
    }
  }
  &__divider {
    width: 300px;
    height: 1px;
    background-color: #6c6c6c;
    margin-top: 2px;
  }
  &__item {
    position: relative;

  }
  &__items {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 62px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 270px;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.9;
    }
  }
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff;
    opacity: 0.7;
    &-img {
      width: 12px;
      height: 20px;
    }
    &:hover {
      opacity: 1;
    }
  }
  &__name {
    margin-top: 19px;
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
  }
}
.active-tab {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 3px solid black;
  &:hover {
    color: #212121;
  }


}
.link {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;
  padding-right: 21px;
  opacity: 0.7;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background: url("../img/icons/arrow_sml.svg") no-repeat;
    top: 6px;
    right: -4px;
    width: 9px;
    height: 12px;
  }
  &:hover {
    opacity: 1;
  }
}
.exclusive {
  &__wrapper {
    display: flex;
    justify-content: flex-start;
  }
  &__item:nth-child(1) {
    background: url("../img/exclusive-1.png");
    background-size: cover;
    flex-grow: 1;
    min-height: 683px;
  }
  &__item:nth-child(2) {
    background: url("../img/exclusive-2.png");
    background-size: cover;
    flex-grow: 1;
  }
  &__item {
    padding: 228px 50px 0 51px;
    box-sizing: border-box;
  }
  &__tag {
    color: #1e88e5;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
  }
  &__name {
    margin-top: 18px;
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
  }
  &__details {
    margin-top: 24px;
    margin-bottom: 47px;
    width: 390px;
    color: #6c6c6c;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.04px;
  }
}
.trend-prod {
  padding: 120px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
  }
  &__items {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 26px;
  }
  &__item {
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 0 8px lightgray;
    }
  }
  &__item img {
    width: 370px;
    height: 370px;
    object-fit: cover;
  }
}
.hot-deal {
  background: url("../img/hot-deal_bg.png") 100% 0 no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 800px;
  box-sizing: border-box;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  &__container {
    flex: 1 0 auto;
  }
  &__tag {
    color: #e53935;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 287px;
  }
  &__name {
    margin-top: 22px;
    color: #212121;
    font-family: "Montserrat",sans-serif;
    font-size: 62px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -4px;
  }
  &__details {
    margin-top: 34px;
    margin-bottom: 45px;
    width: 480px;
    color: #6c6c6c;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}